:root {
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono", "Roboto Mono",
    "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro", "Fira Mono", "Droid Sans Mono",
    "Courier New", monospace;

  --main-background: 44, 44, 56, 255;
  --kanban-background: 40, 40, 52;
  --purple-accent: 100,95,198,255;
  --text-color: 210, 210, 219;
  --text-color-dark: 121,124,136;
  --card-background: 44, 44, 56, 255;
  --modal-background: 44,44,58;
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-background: 44, 44, 56;
    --kanban-background: 33,33,45,255;
    --purple-accent: 100,95,198,255;
    --text-color: 255, 255, 255;
    --text-color-dark: 210, 210, 219, 0.55;
    --card-background: 44, 44, 56, 255;
    --modal-background: 44,44,58;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  max-width: 100%;
  list-style: none;
  text-decoration: none;
}

body {
  max-width: 100vw;
  color: rgb(var(--text-color));
  background: rgb(var(--main-background));
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  color: rgb(var(--text-color));
}

button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  font-size: 15px;
}

.primary_btn{
  background: rgb(var(--purple-accent));
  color: rgb(var(--text-color));
}

.secondary_btn{
  background: rgb(var(--text-color));
  color: rgb(var(--kanban-background));
}

.g_purple {
  background: rbg(var(--purple-accent));
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
